[submodule "leakage-model-testing"]
	path = leakage-model-testing
	url = https://github.com/hw-sw-contracts/leakage-model-testing.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/driesvanspauwen/unicorn.git
