[submodule "leakage-model-testing"]
	path = leakage-model-testing
	url = https://github.com/hw-sw-contracts/leakage-model-testing.git
[submodule "unicorn"]
	path = unicorn
	url = https://github.com/driesvanspauwen/unicorn.git
[submodule "sca-fuzzer"]
	path = sca-fuzzer
	url = https://github.com/driesvanspauwen/sca-fuzzer.git
[submodule "weird_machines/ghost-is-the-machine/Transient-Weird-Machine"]
	path = weird_machines/ghost-is-the-machine/Transient-Weird-Machine
	url = https://github.com/driesvanspauwen/Transient-Weird-Machine.git
